<!DOCTYPE html>
<!-- AngularJS applikáció -->
<html lang="hu" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{appTitle}}</title>
    
    <!-- Stylesheets -->
    <link rel="icon" type="image/x-icon" href="/Assets/img/favicon.webp">
    <link rel="stylesheet" href="Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/ng-notify.min.css">
    <link rel="stylesheet" href="Assets/css/taskCtrl.css">
</head>
<body>

    <div class="container">
        <!-- fejrész -->
        <header>{{appTitle}} <img src="https://static.vecteezy.com/system/resources/previews/000/441/127/original/vector-checklist-icon.jpg" width="10%" height="100%" alt="checklist."></header>
        
        <!-- Menü -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Menü</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNav">

                <!-- kijelentkezve -->
                <ul class="navbar-nav" id="LoggedOutMenu" ng-show="!loggedIn">
                    <li class="nav-item">
                    <a class="nav-link"  href="#!/login">Belépés</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!/register" >Regisztráció</a>
                  </li>
                </ul>

                <!-- belépve -->
                <ul class="navbar-nav" id="LoggedInMenu" ng-show="loggedIn">   
                  <li class="nav-item">
                    <a class="nav-link" href="#!/newdata" >Adatrögzítés</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!/table">Táblázat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!/calendar">Naptár</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!/chart">Grafikon</a>
                  </li>
                  <li class="nav-item" ng-if="isAdmin()" ng-controller="loginCtrl">
                    <a class="nav-link" href="#!/chart">Felhasználók</a>
                  </li>
                  <li class="nav-item" ng-controller="loginCtrl">
                    <a class="nav-link" href="#" ng-click="logout()">Kilépés</a>
                  </li>
                </ul>

              </div>
            </div>
        </nav>
        
        <!-- Ide töltődnek be dinamikusan a nézetek -->
        <main ng-view></main>
        
        <!-- Lábléc -->
        <footer>
          {{author}} - {{company}} 
          <hr>
          <br><h4>Záródolgozat</h4>
          {{year}}

        </footer>
    </div>

    <!-- Assets -->
    <script src="Assets/js/bootstrap.bundle.min.js"></script>
    <script src="Assets/js/angular.min.js"></script>
    <script src="Assets/js/angular-route.min.js"></script>
    <script src="Assets/js/ng-notify.min.js"></script>
    <script src="Assets/js/axios.min.js"></script>
    <script src="Assets/js/fullcalendar.min.js"></script>
    <script src="Assets/js/jquery-1.11.1.min.js"></script> 
    <script src="Assets/js/canvasjs.min.js"></script>
    <script src="Assets/js/moment.js"></script>
    <script src="Assets/js/sha1.js"></script>
    <script src="Assets/js/app.js"></script>

    <!-- Conterollers -->
    <script src="Controllers/loginCtrl.js"></script>
    <script src="Controllers/taskCtrl.js"></script>

</body>
</html>