<div ng-contorller="taskCtrl" class="col-lg-4 offset-lg-4">

    <h3 class="mb-4 mt-3">ÚJ teendő rögzítése</h3>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="dateField" placeholder="" ng-model="data.date" >
        <label for="dateField">Dátum:</label>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="dueField" placeholder="" ng-model="data.duedate" >
        <label for="dueField">Határidő:</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="" ng-model="data.name">
        <label for="name">A feladat címe:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="description" placeholder="" ng-model="data.description">
        <label for="description">A feladat rövid leírása:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="typeField" aria-label="" ng-model="data.type">
          <option selected>Válasszon....</option>
          <option value="{{user.name}}" ng-repeat="user in users">{{user.name}}</option>
        </select>
        <label for="typeField">Munkatárs beosztása:</label>
    </div>

    <button class="mb-3 btn btn-primary" id="submitBtn" ng-click="submit()">Rögzítés</button>

</div>